.contact-form-text {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 1;
  padding: 20px 40px;
}

.contact-form-btn {
  float: right;
}

.error_message {
  margin-bottom: 20px;
  padding: 10px;
  background: #fe8b8e;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}
